<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados da Busca</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Resultados da Busca</h2>
        <div class="mt-4">
            {% if results %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for texto_resultado, link_resultado in results %}
                            <tr>
                                <td>{{ texto_resultado }}</td>
                                <td><a href="{{ link_resultado }}" target="_blank">{{ link_resultado }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-danger">Nenhum resultado encontrado.</p>
            {% endif %}
        </div>
        <div class="text-center mt-4">
            <a href="{{ url_for('buscar_google') }}" class="btn btn-secondary">Nova Busca</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
